doctype html(lang='en')
head
  title Bookworm | #{title}
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style.css')

  body.bg-light.text-center
    header
      h1 ARKADEMY BOOTCAMP
      hr

    block content
